.DS_Store
/.vs
/my_code/Chapter10/.vs/Chapter10/FileContentIndex
/my_code/Chapter11/LinqWithObjects/obj/Debug/net8.0/ref/LinqWithObjects.dll
/my_code/Chapter11/LinqWithObjects/obj/Debug/net8.0/refint/LinqWithObjects.dll
/my_code/Chapter11/LinqWithObjects/obj/Debug/net8.0/apphost.exe
/my_code/Chapter11/LinqWithObjects/obj/Debug/net8.0/LinqWithObjects.AssemblyInfo.cs
/my_code/Chapter11/LinqWithObjects/obj/Debug/net8.0/LinqWithObjects.AssemblyInfoInputs.cache
/my_code/Chapter11/LinqWithObjects/obj/Debug/net8.0/LinqWithObjects.dll
/my_code/Chapter11/LinqWithObjects/obj/Debug/net8.0/LinqWithObjects.pdb
/my_code/Chapter11/LinqWithObjects/obj/Debug/net8.0/LinqWithObjects.sourcelink.json
/my_code/Chapter11/LinqWithObjects/bin/Debug/net8.0/LinqWithObjects.dll
/my_code/Chapter11/LinqWithObjects/bin/Debug/net8.0/LinqWithObjects.exe
/my_code/Chapter11/LinqWithObjects/bin/Debug/net8.0/LinqWithObjects.pdb
/my_code/Chapter11/.vs/Chapter11/DesignTimeBuild/.dtbcache.v2
/my_code/Chapter11/.vs/Chapter11/FileContentIndex/1552f2ba-e943-4384-bc80-be4f22e02a16.vsidx
/my_code/Chapter11/.vs/Chapter11/FileContentIndex/72236a38-8e41-49d7-9523-cf565cf63bcc.vsidx
/my_code/Chapter11/.vs/Chapter11/FileContentIndex/8cc9f36a-40f3-4f8a-8f27-669f53bf689a.vsidx
/my_code/Chapter11/.vs/Chapter11/FileContentIndex/edf78a32-877e-4c31-b28f-23f6b94dcf14.vsidx
/my_code/Chapter11/.vs/Chapter11/v17/.suo
/my_code/Chapter11/.vs/Chapter11/v17/DocumentLayout.json
